:root {
    --dark: #000000;
    --important: #c6ac82;
}

body {
    font-family: "Poppins", serif;
    margin: 0 auto;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
}

.border {
    border-bottom: solid 1px rgb(235, 233, 233);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1200px;
    padding: 30px 0;   
    background-color: white;
}

.logo {
    color: rgb(61, 61, 61);
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation a {
    color: rgb(99, 98, 98);
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}

.navigation .active {
    text-decoration: underline;
}

nav a:hover {
    text-decoration: underline;
}

i {
    color: rgb(99, 98, 98);
    font-size: 24px;
    font-weight: 300;
    padding-left: 15px;
    cursor: pointer;
}

.fixed {
    display: flex;
    justify-content: center;
    background-color: rgb(248, 34, 80);
    position: fixed;
    top: 70px;
    width: 120px;
    right: 0;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    z-index: 15;
  }

  .fixed2 {
    display: flex;
    justify-content: center;
    border: solid 0.5px rgb(221, 217, 217);
    background-color: white;
    position: fixed;
    top: 115px;
    width: 120px;
    right: 0;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    z-index: 15;
  }

.fixed i {
    font-size: 16px;
    margin-right: 10px;
    color: white;
}

.fixed2 i {
    font-size: 16px;
    margin-right: 10px;
    color: rgb(248, 34, 80);
}

.image-container img {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    height: auto;
    align-self: center;
    position: relative;
    padding: 60px 0;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    padding-bottom: 60px;
}

.main-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--dark);
}

.item .main-text {
    font-size: 16px;
    color: rgb(73, 73, 73);
    line-height: 2;
}

.main-text .exhibition {
    font-size: 16px;
    color: rgb(73, 73, 73);
    padding: 10px 0;
    border-top: solid 1px rgb(235, 233, 233);
    border-bottom: solid 1px rgb(235, 233, 233);
    cursor: pointer;
}

.exhibition:hover {
    color: var(--important);
}

.year {
    font-weight: 600;
} 

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    width: 1200px;   
    margin: 0 auto;
    gap: 40px;
    color: rgb(73, 73, 73);
}

.f:hover {
    color: var(--important);
    cursor: pointer;
}

.f i:hover {
    color: rgb(43, 42, 42);
    cursor: pointer;
}

.border2 {
    border-top: solid 1px rgb(235, 233, 233);
    width: 100%;
    padding: 30px 0;
}

@media (max-width: 576px) {
    .content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;

    }

    header {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 320px;
        padding: 30px 0;   
    }

    .fixed, .fixed2 {
        display: none;
    }

    .navigation {
        display: none;
    }

    .image-container img {
        display: flex;
        margin: 0 auto;
        width: 320px;
        height: auto;
        align-self: center;
        position: relative;
        padding: 60px 0;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        margin: 0 auto;
        gap: 40px;
        max-width: 320px;
        width: 100%;
        padding-bottom: 60px;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        max-width: 320px;
        margin: 0 auto;
        width: 100%;
        gap: 40px;
    }

}




